//reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection {
    color: #ffffff;
    background-color: #6c70dc;
}
//start
.home-bg {
    background-color: #6e40c6;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;

    .modal-container {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(41, 35, 35, 0.358);
        z-index: 2;

        display: none;

        transition: all 0.5s ease-in-out;

        .modal {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 500px;
            height: 160px;
            background-color: white;
            border-radius: 5px;
            .close-modal {
                background-color: transparent;
                border: none;
                cursor: pointer;
                margin: 21px 30px 0 10px;
                float: right;
            }
            .modal-text {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                font-size: 18px;
                font-weight: 500;
                color: #f39c12;
                user-select: none;
            }
            #confirmText {
                color: #38cf78;
            }
        }
    }

    .container {
        display: grid;
        grid-template-columns: 230px 750px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        min-height: 560px;
        .sidebar {
            background-color: #292d32;
            position: relative;

            .sidebar-menu {
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                padding: 30px;
                .item {
                    background-color: transparent;
                    border: none;
                    font-size: 14px;
                    color: #626c76;
                    text-align: left;
                    display: flex;
                    align-items: center;
                    column-gap: 12px;
                    cursor: not-allowed;

                    .number {
                        width: 25px;
                        height: 25px;
                        font-size: 12px;
                        font-weight: bold;
                        border-radius: 50%;
                        background-color: #4d545a;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #ffffff;
                    }
                    .confirm-img {
                        display: none;
                    }
                }

                .item-active {
                    color: #53d56c;
                    cursor: pointer;
                    .number {
                        background-color: #53d56c;
                    }
                }
                .item-confirm {
                    cursor: pointer;
                    color: #ffffff;
                    .number {
                        display: none;
                        background-image: url(/assets/images/confirm-icon.svg);
                    }
                }
            }

            .sidebar-bottom {
                width: 100%;
                background-color: #ffffff1c;
                height: 1px;
                position: absolute;
                bottom: 75px;
            }
        }
        .content {
            background-color: #f5f7fa;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .content-top {
                .tab-content {
                    display: none;
                    .header {
                        display: flex;
                        justify-content: space-between;
                        padding: 19px 25px 14px 30px;
                        border-bottom: 1px solid rgba(128, 128, 128, 0.177);
                        .title {
                            font-size: 18px;
                            color: #292d32;
                            font-weight: 500;
                        }
                        .close-btn {
                            background-color: transparent;
                            border: none;
                        }
                    }

                    #services-content {
                        .card {
                            justify-content: space-between;
                            flex-direction: row-reverse;
                            .price {
                                color: #4fbf65;
                                font-weight: 500;
                                font-size: 26px;
                            }
                        }
                    }

                    .cards {
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        padding: 25px 30px;
                        transition: all 0.5s ease-in-out;
                        .card {
                            display: flex;
                            background-color: white;
                            border-radius: 2px;
                            padding: 15px 20px;
                            align-items: center;
                            border: 2px solid white;
                            cursor: pointer;
                            .right {
                                display: flex;
                                align-items: center;
                                column-gap: 22px;
                                .card-img {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                }
                                .text-container {
                                    .card-title {
                                        color: #292d32;
                                        font-size: 14px;
                                        font-weight: 600;
                                    }
                                    .card-desc {
                                        font-size: 12px;
                                        color: #828f9a;
                                    }
                                }
                            }
                        }

                        .card-active {
                            border: 2px solid #53d56c;
                            transition: all 0.3s ease-in-out;
                        }
                    }

                    #dateandtime-content {
                        display: grid;
                        grid-template-columns: 370px 305px;
                        align-items: center;
                        column-gap: 15px;
                        padding: 32px 30px;
                        .date {
                            .date-header {
                                text-align: center;
                                display: flex;
                                align-items: baseline;
                                column-gap: 21px;
                                justify-content: center;
                                font-size: 14px;
                                font-weight: bold;
                                margin-bottom: 19px;
                                span {
                                    user-select: none;
                                }
                                button {
                                    background-color: transparent;
                                    border: none;
                                    cursor: pointer;
                                }
                            }
                            .date-box {
                                background-color: white;
                                border-radius: 2px;
                                height: 309px;
                                .weeks {
                                    display: grid;
                                    grid-template-columns: repeat(7, 1fr);
                                    list-style: none;
                                    column-gap: 5px;
                                    justify-content: center;
                                    padding: 20px 16px 8px 16px;
                                    border-bottom: 1px solid rgba(128, 128, 128, 0.055);
                                    span {
                                        text-align: center;
                                        color: #c8c9cc;
                                        font-size: 13px;
                                    }
                                }
                                .days {
                                    display: grid;
                                    grid-template-columns: repeat(7, 1fr);
                                    gap: 6px;
                                    place-items: center;
                                    padding: 12px;
                                    .day {
                                        width: 42px;
                                        height: 42px;
                                        background-color: #eceff2;
                                        color: #aaacaf;
                                        font-size: 15px;
                                        border-radius: 2px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        position: relative;
                                        user-select: none;
                                        pointer-events: none;
                                    }
                                    .active-day {
                                        color: #111111;
                                        cursor: pointer;
                                        pointer-events: visible;
                                    }
                                    .active-click {
                                        background-color: #6c70dc;
                                        color: white;
                                        transition: 0.1s all ease-out;
                                    }
                                }
                            }
                        }

                        .time {
                            .time-header {
                                text-align: center;
                                font-size: 14px;
                                color: #000000;
                                margin-bottom: 19px;
                                font-weight: bold;
                            }
                            .time-container {
                                background-color: white;
                                border-radius: 2px;
                                height: 309px;
                                .title {
                                    font-size: 14px;
                                    color: #6c70dc;
                                    text-align: center;
                                    padding: 15px 0;
                                    border-bottom: 1px solid rgba(128, 128, 128, 0.055);
                                }
                                .time-body {
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);
                                    align-items: center;
                                    place-items: center;
                                    padding: 12px 15px;

                                    display: none;

                                    transition: all 0.1s ease-in-out;
                                    .time-card {
                                        display: flex;
                                        flex-direction: column;
                                        padding: 7px 22px;
                                        background-color: #eceff2;
                                        border-radius: 2px;
                                        font-size: 14px;
                                        color: #111111;
                                        cursor: pointer;
                                    }
                                    .time-card-active {
                                        background-color: #53d56c;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }

                    #confirmation-content {
                        padding: 25px 30px 26px 30px;
                        form {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            column-gap: 20px;
                            row-gap: 25px;
                            margin-bottom: 25px;
                            .form-group {
                                display: flex;
                                flex-direction: column;
                                row-gap: 9px;
                                label {
                                    font-size: 15px;
                                    color: #292d32;
                                    font-weight: 400;
                                    span {
                                        color: #ef264d;
                                    }
                                }
                                input {
                                    border-radius: 3px;
                                    border: 1px solid #e3eaf3;
                                    outline: none;
                                    padding: 10px;
                                    height: 46px;
                                }
                            }
                        }
                        .note-sec {
                            .note-title {
                                font-size: 14px;
                                color: #292d32;
                            }
                            .note-content {
                                background-color: white;
                                border-radius: 5px;
                                padding: 19px 0 13px 26px;
                                margin-top: 9px;
                                display: flex;
                                flex-direction: column;
                                row-gap: 8px;
                                .item {
                                    font-size: 14px;
                                    display: flex;
                                    align-items: center;
                                    column-gap: 12px;
                                    .key {
                                        color: #6c70dc;
                                    }
                                    .value {
                                        color: #111111;
                                    }
                                    #note-price {
                                        color: #4fbf65;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .content-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 30px;
                background-color: white;
                border-top: 1px solid rgba(128, 128, 128, 0.177);
                height: 76px;

                .btn {
                    border-radius: 2px;
                    padding: 9px 14px;
                    font-size: 12px;
                    font-weight: bold;
                    cursor: pointer;
                }
                .back-btn {
                    background-color: #e3eaf3;
                    color: #8f9ca7;
                    border: 1px solid #8f9ca737;
                    margin-right: auto;
                    text-transform: uppercase;
                }
                .next-btn {
                    background-color: #6c70dc;
                    color: #ffffff;
                    border: 1px solid #6c70dc;
                    margin-left: auto;
                    text-transform: uppercase;
                    transition: all 0.2s ease-in-out;
                }
                .warning-text {
                    display: flex;
                    align-items: center;
                    user-select: none;
                    font-weight: bold;
                    column-gap: 10px;
                    background-color: #f4be6c;
                    color: #ffffff;
                    font-size: 12px;
                    text-transform: uppercase;
                    border-radius: 2px;
                    padding: 12px 14px;
                    visibility: hidden;
                }
            }
        }
    }
}

//responsive
@media only screen and (max-width: 1000px) {
    .home-bg {
        .container {
            width: 92%;
            height: 530px;
            margin: auto;
            grid-template-columns: 200px 720px;
        }
    }
}
@media only screen and (max-width: 970px) {
    .home-bg {
        .container {
            width: 92%;
            height: auto;
            margin: auto;
            display: flex;
            .sidebar {
                width: auto;
            }
            .content {
                width: 100%;
                .content-top{
                    .tab-content{
                        #services-content{
                            .card{
                                .price{
                                    transition: .5s all ease-in-out;
                                    font-size: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .sidebar {
            .sidebar-bottom {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 660px) {
    .home-bg{
        .container{
            .content {
                .content-top{
                    .tab-content{
                        #services-content{
                            .card{
                                .price{
                                    transition: .5s all ease-in-out;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 590px) {
    .home-bg{
        .container{
            .content {
                .content-top{
                    .tab-content{
                        #services-content{
                            .card{
                                flex-direction: column-reverse;  
                                align-items: start;
                                row-gap: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
