* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: #ffffff;
  background-color: #6c70dc;
}

.home-bg {
  background-color: #6e40c6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.home-bg .container {
  display: grid;
  grid-template-columns: 230px 750px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  min-height: 560px;
}
.home-bg .container .sidebar {
  background-color: #292d32;
  position: relative;
}
.home-bg .container .sidebar .sidebar-menu {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 30px;
}
.home-bg .container .sidebar .sidebar-menu .item {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #626c76;
  text-align: left;
  display: flex;
  align-items: center;
  column-gap: 12px;
  cursor: not-allowed;
}
.home-bg .container .sidebar .sidebar-menu .item .number {
  width: 25px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  background-color: #4d545a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.home-bg .container .sidebar .sidebar-menu .item-active {
  color: #53d56c;
  cursor: pointer;
}
.home-bg .container .sidebar .sidebar-menu .item-active .number {
  background-color: #53d56c;
}
.home-bg .container .sidebar .sidebar-menu .item-confirm {
  cursor: pointer;
  color: #ffffff;
}
.home-bg .container .sidebar .sidebar-menu .item-confirm .number {
  display: none;
  background-image: url(/assets/images/confirm-icon.svg);
}
.home-bg .container .sidebar .sidebar-bottom {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1098039216);
  height: 1px;
  position: absolute;
  bottom: 75px;
}
.home-bg .container .content {
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-bg .container .content .content-top .tab-content {
  display: none;
}
.home-bg .container .content .content-top .tab-content .header {
  display: flex;
  justify-content: space-between;
  padding: 19px 25px 14px 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.177);
}
.home-bg .container .content .content-top .tab-content .header .title {
  font-size: 18px;
  color: #292d32;
  font-weight: 500;
}
.home-bg .container .content .content-top .tab-content .header .close-btn {
  background-color: transparent;
  border: none;
}
.home-bg .container .content .content-bottom {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  background-color: white;
  border-top: 1px solid rgba(128, 128, 128, 0.177);
}
.home-bg .container .content .content-bottom .btn {
  border-radius: 2px;
  padding: 9px 14px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.home-bg .container .content .content-bottom .back-btn {
  background-color: #e3eaf3;
  color: #8f9ca7;
  border: 1px solid rgba(143, 156, 167, 0.2156862745);
  margin-right: auto;
}
.home-bg .container .content .content-bottom .next-btn {
  background-color: #6c70dc;
  color: #ffffff;
  border: 1px solid #6c70dc;
  margin-left: auto;
}